body {
  height: 90vh;
  display: flex;
  direction: rtl;
  align-items: center;
  background: #fafafa;
  font-family: sans-serif;
  justify-content: center;
}

input {
  width: 180px;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}